* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(230, 230, 230);
  font-family: sans-serif;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: rotate(-8deg);
  }
  to {
    -webkit-transform: rotate(-12deg) scale(1.2);
  }
}

a {
  text-decoration: none !important;
}

a > h1 {
  color: #000000;
  position: absolute;
  top: 40px;
  left: 5%;
  font-size: 2.5em;
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -o-transition: color 0.2s ease-in-out;
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  -webkit-transition: color 0.2s ease-in-out;
}

a > h1:hover {
  color: rgb(0, 153, 255);
}

div.box {
  background-color: rgb(250, 250, 250);
  padding: 25px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

div.box > p {
	margin-bottom: 10px;
}

div.box > p:last-child {
	margin: 0;
}

div#info {
  width: 50%;
  margin: 60px 0 0 10%;
  text-align: center;
}

span.fabulous {
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
}
span.fabulous:hover {
	color:#FF76EB
}

div#ld18 {
	margin: 25px 0 0 50%;
	width: 40%;
	padding-top: 10px;
}

div#ld18 > h1 {
	padding-bottom: 5px;
	margin-left: -10px;
}

div#ld18 > div.preview {
	margin: -5px 0 0 -200px;
	float: left;
	background-color: rgb(250, 250, 250);
	padding: 14px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	width: 482px;
	height: 362px;
}

div.preview img {
	border: 1px solid #5F5F5F;
  width: 480px;
  height: 360px;
}

div.preview iframe {
  border: 0;
	width: 482px;
	height: 362px;
}

#push {
	height: 30px;
}

footer > div {
	padding: 6px !important;
	text-align: center;
	width: 30%;
	margin: 25px auto 0;
}

div.links {
	border-top: 1px solid rgb(230, 230, 230);
	padding-top: 10px;
	margin: 20px -25px -15px -25px;
	text-align: center;
	clear: both;
}

div#vid {
	width: 100%;
	height: 100%;
	z-index: 9001;
	position: absolute;
	top: 0;
	left: 0;
background-color: rgba(43, 43, 43, 0.8);
opacity: 0;
}
div#vid > iframe {
width: 960px;
height: 745px;
margin: auto;
border: 0;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
}
