* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(230, 230, 230);
  font-family: sans-serif;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: rotate(-8deg);
  }
  to {
    -webkit-transform: rotate(-12deg) scale(1.2);
  }
}

a {
  text-decoration: none !important;
}

h1 {
  color: #000000;
  position: absolute;
  top: 76px;
  left: 20%;
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -o-transition: color 0.2s ease-in-out;
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  -webkit-transition: color 0.2s ease-in-out;
}

h1:hover {
  color: rgb(0, 153, 255);
}

div#cont {
  width: 50%;
  margin: 100px auto 0;
  background-color: rgb(250, 250, 250);
  padding: 25px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}